# Ignore Node.js modules in both folders
/backend/node_modules
/frontend/node_modules

# Ignore environment files (NEVER push secrets!)
/backend/.env
/frontend/.env

# Ignore Mac system files
.DS_Store

# Ignore Vite build-output folder
/frontend/dist